<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospSys.Properties.Settings.d24819387ConnectionString"
            connectionString="server=localhost;user id=root;password=Matimurr1;persistsecurityinfo=True;database=d24819387"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>